* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
   background-image: url(https://static.vecteezy.com/system/resources/previews/049/193/646/non_2x/blue-abstract-topographic-map-background-blue-topographic-terrain-lines-on-a-dark-blue-background-vector.jpg);
}
a {
    color: #Ffffff;
    text-decoration: none;
}
.titulo {
    font-family: 'Oxanium', sans-serif;
    color: #4ade80;
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px;
    border-bottom: 2px solid #4ade80;
    display: inline-block;
    padding-bottom: 8px;
}
p {
    color: #Ffffff ;
    font-family: "Share tech Mono", sans-serif;
}
.topo {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.informacoes {
    color: #Ffffff;
   margin-top: 0.5rem;
   font-family: Tahoma, sans-serif;
   font-size: 0.95rem;
}
.navegaçao {
    box-shadow: 0px 0px 5px #4ade80;
    text-align: center;
    border-radius: 20px;
    background-color: #123c4a;
    padding: 1rem;
    width: 25rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',  sans-serif;
}

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitulo {
    margin-top: 2rem;
    font-family: 'Oxanium', sans-serif;
    text-transform: uppercase;
    color: #Ffffff;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-align: center;
}
img {
    border-radius: 0px 5px 0px 15px;
    transition: 0.4s;
}
#plesiossauro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    background: #0a3146;
    border-radius: 15px;
    padding: 1rem;
    transition: 0.3s ease;
}
button:hover {
    box-shadow: 0px 1px 6px #4ade80;
    border: 2px solid #4ade80;
}
button:hover a {
    color: #4ade80;
}
a {
    font-family: 'Oxanium', sans-serif;
    padding-bottom: 8px;
    color: #ffffff;
}
a:hover {
    cursor: pointer;
}
.texto {
    letter-spacing: 1px;
    text-transform: uppercase;
}
#ictiossauro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mosassauro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 450px) {
    img {
        width: 20rem;
        margin: 0;
    }
    .navegaçao {
        width: 15rem;
    }
}
@media (max-width: 350px) {
    p {
        font-size: 0.8rem;
    }
    .informacoes {
        margin: 10px;
    }
}
.card {
    max-width: 220px;
    border-radius: 15px 0px 15px 15px;
    width: 100%;
    height: 13rem;
    background: #123c4a;
    transition: 0.4s ease;
}
.card h3 {
    padding: 1rem;
}
.card:hover .nome {
    transition: 0.4s ease;
    color: #4ade80;
}
.card:hover {
    box-shadow: 0 0 4px #4ade80;
    transform: scale(1.05) translateY(-4px);
}

.card img {
    object-position: top left;
    border-radius: 0px 0px 15px 0px;
    width: 90%;
    height: 8rem;
    object-fit: cover;
}
.card h3 {
    margin-top: 1.4rem;
    letter-spacing: 0.5px;
    padding-left: 0.5rem;
    font-size: 0.9rem;
    color: #ffffff;
    text-transform: uppercase;
}
.sistema-de-busca {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.geral {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.geral label {
    margin-bottom: 7px;
    display: block;
    font-size: 0.90rem;
    font-family: 'Oxanium', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #Ffffff;
}
#btn {
    margin-top: auto;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}
#btn:hover {
    color: #4ade80;
}
.card-dino {
    background: rgba(0, 255, 0, 0.2);
    box-sizing: border-box;
    border-bottom: 15px solid #4ade80;
    position: relative;
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    width: 90%;
    max-width: 40rem;
    background: #123c4a;
    border-radius: 0 0 20px 0;
    height: auto;
    transition: 0.3s;
    margin: 0 auto;
}
.card-dino:hover {
    transform: scale(1.05) translateY(-4px);
}
.card-dino img {
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    display: block;
    border: 2px solid #4ade80;
    width: 100%;
    max-width: 20rem;
    height: auto !important;
    border-radius: 0px 0px 20px 0px;
}


.conteudo {
    gap: 10px;
    width: 100%;
    min-width: 0;
    overflow-wrap: break-word;
    padding: 20px;
    padding-left: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#plesiossauro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: #123c4a;
}
#ictiossauro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#mosassauro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 620px) {
    .card-dino {
        display: flex !important;
        flex-direction: column  !important;
        align-items: center;
    }
    .card-dino img {
        width: 100%;
        max-width: 18rem;
        height: auto;
        display: block;

    }
    .conteudo {
        align-items: center;
        width: 100%;
        text-align: center;
    }
    h3 {
    overflow-wrap: break-word;
    word-break: break-word;
}
    .geral {
        flex-direction: column;
        align-items: center;
    }
    select, input {
        width: 80%;
    }
    .imagem {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}
.aquaticos {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.cards {
    display: block;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
    justify-content: center;
}
.resultados {
    width: 100%;
}
.sem-resultados {
    display: none;
    margin-top: 0.8rem;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    height: 20rem ;
    background: #123c4a;
}
.sem-resultados p {
    margin-top: 7rem;
}
.conteudo-dino {
    background: #123c4a;
    width: 90%;
    max-width: 1500px;
    border-radius: 10px;
    height: auto;
    margin-left: 5%;
    padding: 10px;
}
.subtitulo-dino {
    font-family: 'Oxanium', sans-serif;
    color: #4ade80;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(74, 222, 128, 0.3);
    text-transform: uppercase;
}
.titulo-dino {
    padding-bottom: 5px;
    letter-spacing: 1px;
    display: inline-block;
    font-family: 'Oxanium', sans-serif;
    color: #4ade80;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(74, 222, 128, 0.3);
    text-transform: uppercase;
    border-bottom: 2px solid #4ade80;
}
.subtitulo-main {
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oxanium', sans-serif;
    text-align: center;
}

.img-dino img {
    padding: 20px;
    width: 30rem;
}
.resposta, label {
    display: inline;
}
.resposta {
    color: #4ade80;
    font-size: 1.1rem;
}
label {
    font-size: 1.1rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oxanium', sans-serif;
}
.informaçoes h3 {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Oxanium', sans-serif;
    color: #4ade80;
    font-size: 1.5rem;
    border-bottom: 1px solid #4ade80;
}

.info-linha {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 10px 0;
}
.info-linha span {
    margin-left: 1rem;
    font-family: 'Share tech Mono', sans-serif;
    font-weight: 700;
    text-shadow: 0 0 4px rgba(74, 222, 128, 0.4);
}
.subtitulo-respostas {
    color: #4ade80;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(74, 222, 128, 0.3);
}
.informaçao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.titulo-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.informaçoes {
    margin-top: 4rem;
}
.conteudo-principal {
    gap: 30px;
    display: flex;
}
.texto-esquerdo {
    padding: 10px;
    width: 47rem;
}
.conteudo-principal p {
    font-size: 1.1rem
}
@media (max-width: 1200px) {
    .conteudo-principal {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .texto-esquerdo {
        padding: 20px;
        width: auto;
    }
    .informaçao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 550px) {
    .img-dino img {
        width:  18rem;
    }
    .resposta {
        font-size: 0.95rem;
    }
}
.seçao {
    display: flex;
    justify-content: center;
    align-items: center;
}